:root {
    --struct-top-bar: 50px;
    --struct-top-bar-background-color: #444;

    --struct-document-background-color: #555;
    --struct-document-horizontal-padding: 4ch;
    --struct-document-top-margin: 1ch;
    --struct-document-line-counter-paragraph-space: .5ch;
    --struct-document-font-family: monospace;
    --struct-document-font-size: 22px;
    --struct-document-font-line-height: 26px;
    --struct-document-font-color: #EEE;
    --struct-document-vertical-line-at-right: 120ch;
    --struct-document-break-line-at: 120ch;

    --struct-meta-data-bar-height: 25px;
    --struct-meta-data-bar-background-color: #222;

    --struct-aside-config-background-color: #444;
}

/* https://css-tricks.com/updating-a-css-variable-with-javascript/ */



* {
    padding:0; margin:0; border:none; outline: 0;
    transition: all 0.4s;
}
html, body {
    position: relative;
    overflow: hidden;
    height:100%;
    background-color: var(--struct-document-background-color);

    font-size: 0;
}
html, body, main, header, section, footer, form, fieldset {
    width: 100%;
}





body > header {
    position: relative;
    z-index: 10;

    height: var(--struct-top-bar);
    background-color: var(--struct-top-bar-background-color);
}
body > main {
    height: calc(100% - var(--struct-top-bar));
}
body > main > section {
    position:relative;

    width: calc(100% - calc(var(--struct-document-horizontal-padding) * 2));
    height: calc(100% - var(--struct-document-top-margin));

    padding-left: var(--struct-document-horizontal-padding);
    padding-right: var(--struct-document-horizontal-padding);

    margin-top: var(--struct-document-top-margin);
    overflow-y: auto;

    counter-reset: lines;

    font-family: var(--struct-document-font-family);
    font-size: var(--struct-document-font-size);
    line-height: var(--struct-document-font-line-height);
    color: var(--struct-document-font-color);
}
body > main > section p {
    position: relative;
}
body > main > section p:empty {
    height: var(--struct-document-font-line-height);
}
body > main > footer {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 8;
    display: none;
    height: var(--struct-meta-data-bar-height);
    background-color: var(--struct-meta-data-bar-background-color);
}
body > aside {
    position: absolute;
    z-index: 9;
    right: -50%;
    top: var(--struct-top-bar);

    width: 50%;
    height: calc(100% - var(--struct-top-bar));
    background-color: var(--struct-aside-config-background-color);
}





/*
    Barra de meta dados.
*/
body.showMetaDataBar > main > footer {
    display: block;
}
body.showMetaDataBar > main > section {
    height: calc(100% - calc(var(--struct-meta-data-bar-height) + var(--struct-document-top-margin)));
}





/*
    Contador de linhas
*/
body.showLineCounter > main > section p {
    padding-left: calc(var(--struct-document-line-counter-paragraph-space) * 2);
}
body.showLineCounter main > section > p::before {
    counter-increment: lines;
    content: counter(lines);

    position: absolute;
    left: calc(var(--struct-document-horizontal-padding) * -1);
    z-index: 1;

    display: inline-block;
    width: var(--struct-document-horizontal-padding);
    height: 100%;
    padding-right: var(--struct-document-line-counter-paragraph-space);


    color:#CCC;
    text-align: right;
    background-color: #000;
}





/*
    Linha guia para auxiliar digitação
*/
body.showVerticalLineAtRight main > section::after {
    position: fixed;
    top: 0;
    left: calc(var(--struct-document-horizontal-padding) + var(--struct-document-line-counter-paragraph-space) + var(--struct-document-vertical-line-at-right));
    bottom: 0;
    z-index: 1;

    border-left: 1px solid #444;
    content:"";
}





/*
    Forçar quebra de linha (visualmente apenas)
*/
body.showBreakLineAt main > section > p {
    max-width: var(--struct-document-break-line-at);
}




/*body {
    position: relative;
    overflow: hidden;
}
main {
    background-color: #666;
    height: var(--editor-main-height-v);
    overflow: hidden;
    margin-top: var(--editor-main-margin-top);
}
main > section {
    width: calc(100% - calc(var(--main-width-division) * 2));
    height: calc(100% - var(--main-width-division));
    padding:0 var(--main-width-division);
    margin-top: var(--main-width-division);
    overflow-y: auto;

    position:relative;
    counter-reset: lines;
}
main > section p:empty {
    height: var(--editor-main-p-font-line-height);
}
body.lineCounter main > section {
    width: calc(100% - var(--main-width-division));
    padding-left:4ch;
}
body.lineCounter main > section::before {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 1;

    content:"";
    width: 4ch;
    padding-right: 4px;
    background-color: #000;
}


body.lineCounter main > section > p:before {
    counter-increment: lines;
    content: counter(lines);

    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 4ch;
    height: inherit;
    padding-right: 4px;
    margin-right: 10px;
    margin-left: -4ch;
    line-height: inherit;
    background-color: #000;
    text-align: right;
}
body.verticalRightMargin main > section::after {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;

    border-left: 1px solid #999;
    content:"";
}



.row {
    display: inline-block;
    width: 100%;
}
.d-flex {
    display: flex;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.txt-center {
    text-align: center;
}
*/
