:root {
    --main-bg-color: #444;
    --main-bg-color-hover: #666;
    --main-bg-color-hover-invert: #444;

    --main-row-height: 45px;
    --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-font-color: #EEE;
    --main-font-invert-color: #444;
    --main-font-filter-color: invert(100%) sepia(0%) saturate(7480%) hue-rotate(69deg) brightness(120%) contrast(73%);
    --main-width-division: 20px;

    --main-button-min-width: 45px;
    --main-button-height: 45px;
    --main-button-font-style: normal;
    --main-button-font-size: 15px;
    --main-button-font-line-height: 15px;
    --main-button-shortcut-font-size: 10px;

    --btn-file-select-font-style: normal;
    --btn-file-select-font-size: 16px;
    --btn-file-select-font-line-height: 16px;
    --btn-file-select-padding-v: calc((var(--main-button-height) - var(--btn-file-select-font-size)) / 2);
    --btn-file-select-position: center;

    --editor-markup-buttons-position: center;

    --editor-main-p-family: 'Fira Code';
    --editor-main-p-font-style: normal;
    --editor-main-p-font-size: 16px;
    --editor-main-p-font-line-height: 24px;
}

body.simpleEditor {
    --editor-main-control-lines: 1;
    --editor-main-height-v: calc(100% - (var(--main-button-height) * var(--editor-main-control-lines)) - 2px);
    --editor-main-margin-top: calc((var(--main-button-height) * var(--editor-main-control-lines)) + 2px);

}
body.markupEditor {
    --editor-main-control-lines: 2;
    --editor-main-height-v: calc(100% - (var(--main-button-height) * var(--editor-main-control-lines)) - 2px);
    --editor-main-margin-top: calc((var(--main-button-height) * var(--editor-main-control-lines)) + 2px);
}
body.simpleEditor #mainMarkupButtons {
    display: none;
}



* {
    padding:0; margin:0; border:none; outline: 0;
}
html, body {
    background-color: var(--main-bg-color);
    font-size: 0;
    height:100%;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}
html, body, main, section, header, footer, form, fieldset {
    width: 100%; height: 100%;
}
body {
    position: relative;
    overflow: hidden;
}
main {
    background-color: #666;
    height: var(--editor-main-height-v);
    overflow: hidden;
    margin-top: var(--editor-main-margin-top);
}
main > section {
    width: calc(100% - calc(var(--main-width-division) * 2));
    height: calc(100% - var(--main-width-division));
    padding:0 var(--main-width-division);
    margin-top: var(--main-width-division);
    overflow-y: auto;

    counter-reset: lines;
}
main > section p:empty {
    height: var(--editor-main-p-font-line-height);
}
body.lineCounter main > section {
    width: calc(100% - var(--main-width-division));
    padding-left:0;
}
body.lineCounter main > section > p:before {
    counter-increment: lines;
    content: counter(lines);

    display: inline-block;
    min-width: 45px;
    height: inherit;
    padding-right: 4px;
    margin-right: 10px;
    line-height: inherit;
    background-color: #000;
    text-align: right;
}



.row {
    display: inline-block;
    width: 100%;
}
.d-flex {
    display: flex;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.txt-center {
    text-align: center;
}
