<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Insert Editor</title>

        <link rel="stylesheet" href="../../resources/css/structure.css" />
        <link rel="stylesheet" href="../../resources/css/editor.css" />

        <link rel="stylesheet" href="../../resources/fonts/fira_code/fira_code.css" />
        <link rel="stylesheet" href="../../resources/fonts/inter/inter.css" />
        <link rel="stylesheet" href="../../resources/fonts/svg/icons.css" />


        <script src="../../resources/js/sym-e.js"></script>
        <script>
            const { ipcRenderer } = require('electron');
        </script>


        <script src="../../resources/js/insertFile.js"></script>
        <script src="../../resources/js/appInsert.js"></script>
        <script src="index_IPCRenderer.js"></script>
    </head>
    <body class="simpleEditor">
        <section id="mainControls">
            <div class="row d-flex">
                <div class="subMenu">
                    <button type="button" id="loadnewwindow" data-btn-action="menu">...</button>
                    <ul>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdNew"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + N"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdOpen"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + O"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdSave"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + S"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdSaveAs"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + Shift + S"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdCloseApp"
                                    data-btn-label="inside"></button>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <button type="button" data-btn-action="cmdNew">+</button>
                    <button type="button" data-btn-action="selectPrev"><span>‹</span></button>
                </div>
                <div class="menuWindow">
                    <ul id="mainMenu" class="menuFile">
                    </ul>
                </div>
                <div class="d-flex">
                    <button type="button" data-btn-action="selectNext"><span>›</span></button>
                    <button type="button" data-btn-action="openSettings">
                        <img src="../../resources/icons/gear3.png" alt="" />
                    </button>
                </div>
            </div>
            <div id="mainMarkupButtons" class="row">
                <div>
                    <button type="button" data-btn-action="cmdHeader1">H1</button>
                    <button type="button" data-btn-action="cmdHeader2">H2</button>
                    <button type="button" data-btn-action="cmdHeader3">H3</button>
                    <button type="button" data-btn-action="cmdHeader4">H4</button>
                    <button type="button" data-btn-action="cmdHeader5">H5</button>
                    <button type="button" data-btn-action="cmdHeader6">H6</button>
                    <span></span>
                    <button type="button" data-btn-action="cmdBold">B</button>
                    <button type="button" data-btn-action="cmdItalic"><i>I</i></button>
                    <button type="button" data-btn-action="cmdUnderline"><u>U</u></button>
                    <button type="button" data-btn-action="cmdStrike"><s>ab</s></button>
                </div>
            </div>
        </section>
        <main id="mainPanel">
        </main>
    </body>
</html>
