<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Insert Editor</title>

        <link rel="stylesheet" href="../../resources/css/structure.css" />
        <link rel="stylesheet" href="../../resources/css/editor.css" />

        <link rel="stylesheet" href="../../resources/fonts/fira_code/fira_code.css" />
        <link rel="stylesheet" href="../../resources/fonts/inter/inter.css" />
        <link rel="stylesheet" href="../../resources/fonts/svg/icons.css" />


        <script src="../../resources/js/sym-e.js"></script>
        <script>
            const { ipcRenderer } = require('electron');
        </script>


        <script src="../../resources/js/onResizeEnd.js"></script>
        <script src="../../resources/js/insertFile.js"></script>
        <script src="../../resources/js/insertCursor.js"></script>
        <script src="../../resources/js/appInsert.js"></script>
        <script src="index_IPCRenderer.js"></script>
    </head>
    <body class="simpleEditor">
        <section id="mainControls">
            <div class="row d-flex">
                <div class="subMenu">
                    <button type="button" id="loadnewwindow" data-btn-action="menu">...</button>
                    <ul>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdNew"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + N"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdOpen"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + O"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdSave"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + S"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdSaveAs"
                                    data-btn-label="inside"
                                    data-btn-shortcut="Ctrl + Shift + S"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdCanClose"
                                    data-btn-label="inside"></button>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <button type="button" data-btn-action="cmdNew">+</button>
                    <button type="button" data-btn-action="cmdSelectPrev"><span>‹</span></button>
                </div>
                <div id="menuWindow" class="menuWindow">
                    <ul id="mainMenu" class="menuFile">
                    </ul>
                </div>
                <div class="d-flex">
                    <button type="button" data-btn-action="cmdSelectNext"><span>›</span></button>
                    <button type="button" data-btn-action="cmdOpenSettings">
                        <img src="../../resources/icons/gear.png" alt="" />
                    </button>
                </div>
            </div>
            <div id="mainMarkupButtons" class="row">
                <div>
                    <button type="button" data-btn-action="cmdHeader1">H1</button>
                    <button type="button" data-btn-action="cmdHeader2">H2</button>
                    <button type="button" data-btn-action="cmdHeader3">H3</button>
                    <button type="button" data-btn-action="cmdHeader4">H4</button>
                    <button type="button" data-btn-action="cmdHeader5">H5</button>
                    <button type="button" data-btn-action="cmdHeader6">H6</button>
                    <span></span>
                    <button type="button" data-btn-action="cmdBold">B</button>
                    <button type="button" data-btn-action="cmdItalic"><i>I</i></button>
                    <button type="button" data-btn-action="cmdUnderline"><u>U</u></button>
                    <button type="button" data-btn-action="cmdStrike"><s>ab</s></button>
                </div>
            </div>
        </section>
        <main id="mainPanel">
        </main>
        <aside id="mainAside">
            <div>
                <!--nav>
                    <ul>
                        <li data-front-action="active-tab"
                            data-front-arg="tab1" class="active">
                            Configurações
                        </li>
                        <li data-front-action="active-tab"
                            data-front-arg="tab2">
                            Sobre
                        </li>
                    </ul>
                </nav-->

                <!--div id="tab1">
                    Configurações
                </div-->
                <div id="tab2">
                    <h1>Insert Editor</h1>

                    <p class="txt-center">
                        <img src="../../resources/icons/insert1.png" alt="Insert Editor" class="icon-insert" />
                    </p>
                    <p>
                        <br /><br />
                    </p>
                    <p class="txt-right">
                        <img src="../../resources/icons/aeondigital.png" alt="aeondigital" class="icon-aeondigital" />
                        Copyright (c) 2020 Rianna Cantarelli<br />
                        Email: rianna@aeondigital.com.br<br />
                        Licença: MIT
                    </p>
                </div>
            </div>
        </aside>
    </body>
</html>
