<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Insert Editor</title>

        <link rel="stylesheet" href="../../resources/css/structure.css" />
        <link rel="stylesheet" href="../../resources/css/editor.css" />

        <link rel="stylesheet" href="../../resources/fonts/fira_code/fira_code.css" />
        <link rel="stylesheet" href="../../resources/fonts/inter/inter.css" />
        <link rel="stylesheet" href="../../resources/fonts/svg/icons.css" />


        <script src="../../resources/js/sym-e.js"></script>
        <script>
            const { ipcRenderer } = require('electron');
        </script>


        <script src="../../resources/js/onResizeEnd.js"></script>
        <script src="../../resources/js/insertFile.js"></script>
        <script src="../../resources/js/insertCursor.js"></script>
        <script src="../../resources/js/appInsert.js"></script>
        <script src="../../resources/js/insertConfig.js"></script>
        <script src="index_IPCRenderer.js"></script>
    </head>
    <body class="simpleEditor">
        <section id="mainControls">
            <div class="row d-flex">
                <div class="subMenu">
                    <button type="button" data-btn-action="cmdMenu"
                            data-label-locale-button="menu"
                            data-label-type="title">...</button>
                    <ul>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdNew"
                                    data-btn-shortcut="Ctrl + N"
                                    data-label-locale-button="cmdNew"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdOpen"
                                    data-btn-shortcut="Ctrl + O"
                                    data-label-locale-button="cmdOpen"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdSave"
                                    data-btn-shortcut="Ctrl + S"
                                    data-label-locale-button="cmdSave"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdSaveAs"
                                    data-btn-shortcut="Ctrl + Shift + S"
                                    data-label-locale-button="cmdSaveAs"></button>
                        </li>
                        <li>
                            <button type="button"
                                    data-btn-action="cmdCanClose"
                                    data-label-locale-button="cmdCanClose"></button>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <button type="button"
                            data-btn-action="cmdNew"
                            data-label-locale-button="cmdNew"
                            data-label-type="title">+</button>
                    <button type="button"
                            data-btn-action="cmdSelectPrev"
                            data-label-locale-button="cmdSelectPrev"
                            data-label-type="title">
                            <span>‹</span>
                    </button>
                </div>
                <div id="menuWindow" class="menuWindow">
                    <ul id="mainMenu" class="menuFile">
                    </ul>
                </div>
                <div class="d-flex">
                    <button type="button"
                            data-btn-action="cmdSelectNext"
                            data-label-locale-button="cmdSelectNext"
                            data-label-type="title">
                            <span>›</span>
                    </button>
                    <button type="button"
                            data-btn-action="cmdOpenSettings"
                            data-label-locale-button="cmdOpenSettings"
                            data-label-type="title">
                        <img src="../../resources/icons/gear.png" alt="" />
                    </button>
                </div>
            </div>
            <div id="mainMarkupButtons" class="row">
                <div>
                    <button type="button" data-btn-action="cmdHeader1">H1</button>
                    <button type="button" data-btn-action="cmdHeader2">H2</button>
                    <button type="button" data-btn-action="cmdHeader3">H3</button>
                    <button type="button" data-btn-action="cmdHeader4">H4</button>
                    <button type="button" data-btn-action="cmdHeader5">H5</button>
                    <button type="button" data-btn-action="cmdHeader6">H6</button>
                    <span></span>
                    <button type="button" data-btn-action="cmdBold">B</button>
                    <button type="button" data-btn-action="cmdItalic"><i>I</i></button>
                    <button type="button" data-btn-action="cmdUnderline"><u>U</u></button>
                    <button type="button" data-btn-action="cmdStrike"><s>ab</s></button>
                </div>
            </div>
        </section>
        <main id="mainPanel">
        </main>
        <aside id="mainAside">
            <div>
                <nav>
                    <ul>
                        <li data-tab-button="active-tab"
                            data-tab-target-panel="tabConfigPanel"
                            data-label-locale-settings-nav="tabConfig">
                        </li>
                        <li data-tab-button="active-tab"
                            data-tab-target-panel="tabAboutPanel"
                            data-label-locale-settings-nav="tabAbout">
                        </li>
                    </ul>
                </nav>

                <div data-tab-panel="tabConfigPanel">
                    <form>
                        <fieldset>
                            <legend data-label-locale-settings-panel-configuration="ttlGeneral">
                            </legend>
                            <div class="inline">
                                <label for="configEditorLocale"
                                        data-label-locale-settings-panel-configuration="fldLblLanguage">
                                </label>
                                <select id="configEditorLocale">
                                    <option value="en-US">English</option>
                                    <option value="pt-BR">Português [Brasil]</option>
                                </select>
                            </div>
                        </fieldset>

                        <hr />

                        <fieldset>
                            <legend data-label-locale-settings-panel-configuration="ttlTextEditor">
                            </legend>

                            <div>
                                <label for="configEditorBackgroundColor"
                                     data-label-locale-settings-panel-configuration="fldLblEditorBackgroundColor">
                                </label>
                                <input type="color" id="configEditorBackgroundColor" />
                            </div>

                            <div class="inline">
                                <label for="configEditorFontFace"
                                        data-label-locale-settings-panel-configuration="fldLblEditorFontFace">
                                </label>
                                <select id="configEditorFontFace">
                                    <option value="Fira Code">Fira Code [Padrão]</option>
                                    <option value="Arial">Arial</option>
                                    <option value="Cambria">Cambria</option>
                                    <option value="Geneva">Geneva</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Helvetica">Helvetica</option>
                                    <option value="Impact">Impact</option>
                                    <option value="Tahoma">Tahoma</option>
                                    <option value="Times">Times</option>
                                    <option value="Times New Roman">Times New Roman</option>
                                    <option value="Verdana">Verdana</option>
                                    <option value="monospace">monospace</option>
                                    <option value="sans-serif">sans-serif</option>
                                </select>
                            </div>
                            <div class="inline">
                                <label for="configEditorFontStyle"
                                        data-label-locale-settings-panel-configuration="fldLblEditorFontStyle">
                                </label>
                                <select id="configEditorFontStyle">
                                    <option value="">normal</option>
                                    <option value="bold">bold</option>
                                    <option value="italic">italic</option>
                                </select>
                            </div>
                            <div class="inline">
                                <label for="configEditorFontColor"
                                        data-label-locale-settings-panel-configuration="fldLblEditorFontColor">
                                </label>
                                <input type="color" id="configEditorFontColor" />
                            </div>
                            <div class="inline">
                                <label for="configEditorFontSize"
                                        data-label-locale-settings-panel-configuration="fldLblEditorFontSize">
                                </label>
                                <input type="range" id="configEditorFontSize" min="10" max="40" step="1" />
                                <input type="number" id="configEditorFontSizeKey" min="10" max="40" step="1" />
                            </div>
                            <div class="inline">
                                <label for="configEditorLineHeight"
                                        data-label-locale-settings-panel-configuration="fldLblEditorLineHeight">
                                </label>
                                <input type="range" id="configEditorLineHeight" min="10" max="50" step="1" />
                                <input type="number" id="configEditorLineHeightKey" min="10" max="50" step="1" />
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="txt-right">
                                <button type="button"
                                        data-label-locale-settings-panel-configuration="btnSaveConfiguration">
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div data-tab-panel="tabAboutPanel">
                    <h1>Insert Editor</h1>

                    <p class="txt-center">
                        <img src="../../resources/icons/insert1.png" alt="Insert Editor" class="icon-insert" />
                    </p>
                    <p>
                        <br /><br />
                    </p>
                    <p class="txt-right">
                        <img src="../../resources/icons/aeondigital.png" alt="aeondigital" class="icon-aeondigital" />
                        Copyright (c) 2020 Rianna Cantarelli<br />
                        Email: rianna@aeondigital.com.br<br />
                        Licença: MIT
                    </p>
                </div>
            </div>
        </aside>
    </body>
</html>
