<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Insert Editor</title>

        <link rel="icon" href="../../electron-insert.ico">
        <link rel="stylesheet" href="../../resources/css2/structure.css">
    </head>

    <body class="showMetaDataBar showLineCounter showVerticalLineAtRight showBreakLineAt">
        <header>
            topo do documento
        </header>
        <main>
            <section>
                <p>&nbsp;Informação | fake<br></p>
                <p>para simular a abertura de um arquivo.<br></p>
                <p><br></p>
                <p>&nbsp;E aqui uma nova linha e tals<br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p>Teste!<br></p>
                <p>&nbsp;inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco...&nbsp; inicio &nbsp;e&nbsp; &nbsp;aqui&nbsp; &nbsp; segue&nbsp; &nbsp; &nbsp;cinco... <br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p><br></p>
                <p>fim!<br></p>
            </section>
            <footer>
                meta-dados do documento
            </footer>
        </main>
        <aside>
            janela de configurações
        </aside>
    </body>
</html>
